  
* {
    margin: 0;
}

body {
    background: #faf4f4;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr auto;
    padding-top: 0px;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    border-bottom: 0.5px solid black;
    background-color: white;
    z-index: 1;
}

.identifier {
    display: flex;
}

input {
    width: 100px;
}

a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

main {
    margin: 5px;
    padding-top: 70px;
}

.accueil {
    border: 0.5px solid rgb(209, 208, 208);
    border-radius: 3px;
    text-align: center;
    margin: auto;
    width: 40%;
    background-color: white;
}

h1 {
    font-family: serif;
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid rgb(204, 201, 201);
    padding: 10px;
    background: -webkit-linear-gradient(45deg, rgb(6, 62, 97), rgb(196, 57, 214));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mainAnnexe {
    margin: auto;
}

footer {
    border-top: 1px solid;
    border-bottom: 1px dashed white;
    color: rgb(0, 0, 0);
    padding: 15px;
    text-align: center;
}

.logo {
    margin-top: 10px;
    font-family: Georgia;
    font-size: 35px;
    display: flex;
}

.logo>:nth-child(3) {
    font-family: 'Dancing Script', cursive;
    font-size: inherit;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#menu {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.sedeconnecter {
    margin-top: 14px;
    display: flex;
    text-align: center;
}

.utilisateur {
    display: flex;
}

.utilisateur>div {
    margin-top: 10px;
}

.ivan {
    display: flex;
}


/**********************Style Article INDEX ******/

.articleindex {
    background: #ffffff;
    width: 40%;
    margin: 60px auto;
}

.posteur {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}

.photoprofil {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 5px;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 0px;
}

.PC {
    display: flex;
}

.commentaire {
    display: flex;
    padding-top: 2px;
}

.commentaire>div {
    margin-right: 5px;
}

.commentaire>:nth-child(1) {
    color: rgb(105, 84, 70);
    font-weight: bold;
}

.commentaire>:nth-child(3) {
    font-size: 12px;
}

.formcom {
    border-top: 0.5px solid rgb(204, 201, 201);
    min-height: 56px;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.formtext {
    display: flex;
}

.publier {
    color: rgba(var(--h5f, 56, 151, 240), 1);
    border: 0;
    cursor: pointer;
    font-weight: 600;
    width: auto;
    background: 0 0;
    margin-left: auto;
    padding-right: 18px;
}

textarea {
    margin-top: 15px;
    margin-bottom: 1px;
    align-items: center;
    border: 0;
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    padding-left: 18px;
}

.sectioncom {
    margin-left: 20px;
    padding-bottom: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

textarea:focus {
    border: none;
}

.ad {
    border: 0.5px solid rgb(204, 201, 201);
    padding: 2px;
    border-radius: 3px;
}

.NB {
    margin: 0;
    color: grey;
    cursor: pointer;
}

.listecommentaires .commentaire:nth-child(n+4) {
    display: none;
}


/****************style Artilce********************/
.imgarticle { 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 70vh; width: 38vw; 
    background-size: cover; 
    cursor: pointer; 
}

.sectionarticle {
    width: fit-content;
    margin: auto;
    display: flex;
    border: 0.5px solid rgb(204, 201, 201);
    padding: 2px;
    border-radius: 2px;
}

.posteurarticle {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 0.5px solid rgb(204, 201, 201);
    position: relative;
}

.pic {
    width: 45px;
    height: 45px;
    background-size: 45px;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.moitierarticle {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    background-color: rgb(255, 255, 255);
    max-width: 350px;
}

.posteurarticle>:nth-child(2) {
    margin-left: 7px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.formArticle {
    display: flex;
    border-top: 0.5px solid rgb(204, 201, 201);
}

.nombrecommentaireArticle {
    border-top: 1px solid rgb(204, 201, 201);
    color: gray;
    padding: 5px;
}

.commentaireArticle {
    display: flex;
    margin-left: 7px;
}

.commentaireArticle>:nth-child(1) {
    color: rgb(105, 84, 70);
    font-weight: bold;
    letter-spacing: 1px;
}

.commentaireArticle>:nth-child(2) {
    margin-left: 10px;
}

.commentaireArticleMere {
    margin-left: 10px;
    padding: 3px;
    overflow-y: scroll;
    max-height: 260px;
}

.photoCommentaire {
    width: 40px;
    height: 40px;
    background-size: 40px;
    background-position: center;
    background-position-y: 0px;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.groupcommentaire {
    display: flex;
    padding: 5px;
}

.datecommentaire {
    font-size: 12px;
}

.lienArticle {
    text-decoration: none;
    margin: 0px;
}

.retourenarrier {
    margin-left: auto;
}

.mArticle {
    display: grid;
    grid-template-rows: 1fr;
}

.contenuArticle {
    margin: 0 20px 0 20px;
    padding-top: 10px;
    max-height: min-content;
}

.logoArticle {
    color: #28a745;
}

.logoArticle:hover {
    color: #fb8200;
}
/* *****************to top**************** */
#scrollUp
{
position: fixed;
bottom : 18px;
right: 1%;
opacity: 0.5;
}
